body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

.anime-container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

#fondo-video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.background-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* Oscurece ligeramente el video */
    z-index: 0;
}

.content {
    position: relative;
    max-width: 800px;
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

p {
    font-size: 1.2rem;
    line-height: 1.5;
}

.btn-primary {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 1.2rem;
    color: white;
    background-color: #9b594196;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
}

.btn-primary:hover {
    background-color: #50322b;
}
